@model Rookie.Mvc.Areas.Customer.Models.Order.OrderVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container m-t-100">

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/Customer/Cart/Index" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Order
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</span>
		</div>
	</div>
		

	<!-- Order -->
	<div class="bg0 p-t-75 p-b-85">
			<div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
              <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                  <table class="table-shopping-cart">
                    <tr class="table_head">
                      <th class="column-1 text-center">Product Name</th>
                      <th class="column-2 text-center">Unit Price</th>
                      <th class="column-3 text-center">Quantity</th>
                      <th class="column-4 text-center">Total</th>
                    </tr>
                      @foreach(var item in @Model.OrderItems)
                      {
                        <tr class="table_row">
                          <td class="column-1 text-center">@item.ProductName</td>
                          <td class="column-2 text-center">@item.UnitPrice.ToString("C2", new System.Globalization.CultureInfo("en-US"))</td>
                          <td class="column-3 text-center">@item.Quantity</td>
                          <td class="column-4 text-center">
                              @{
                                  var total = item.UnitPrice + item.Quantity;
                              }
                              @total.ToString("C2", new System.Globalization.CultureInfo("en-US"))
                          </td>
                        </tr>
                      }
                  </table>
                  <h4 class="mtext-109 cl2 p-b-30 d-flex m-t-30 justify-content-end">
                    @{
                      var totalOrder = @Model.SubTotal  + @Model.DeliveryFee;
                    }
										Order Totals: @totalOrder.ToString("C2", new System.Globalization.CultureInfo("en-US"))
									</h4>
                </div>
              </div>
            </div>
        </div>
			</div>

	</div>

</div>