@model Rookie.Mvc.Areas.Customer.Models.Order.OrderVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container m-t-100">

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/Customer/Cart/Index" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Order
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</span>
		</div>
	</div>
		

	<!-- Order -->
	<div class="bg0 p-t-75 p-b-85">
			<div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
              <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                  <table class="table-shopping-cart">
                    <tr class="table_head">
                      <th class="column-1 text-center">Product Name</th>
                      <th class="column-2 text-center">Unit Price</th>
                      <th class="column-3 text-center">Quantity</th>
                      <th class="column-4 text-center">Total</th>
                      <th class="column-5 text-center">Action</th>
                    </tr>
                      @foreach(var item in @Model.OrderItems)
                      {
                        <tr class="table_row">
                          <td class="column-1 text-center">@item.ProductName</td>
                          <td class="column-2 text-center">@item.UnitPrice.ToString("C2", new System.Globalization.CultureInfo("en-US"))</td>
                          <td class="column-3 text-center">@item.Quantity</td>
                          <td class="column-4 text-center">
                              @{
                                  var total = item.UnitPrice * item.Quantity;
                              }
                              @total.ToString("C2", new System.Globalization.CultureInfo("en-US"))
                          </td>
                          <td class="column-5 text-center">
                            @* Rating *@
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              Add rating
                            </button>

                            <!-- Modal -->
                            <div class="modal fade modal-dialog-centered" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="m-t-150 modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Rating</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="/Customer/Rating/AddRating" method="post">
                                      <div class="mb-3">
                                        <label>Rating</label>
                                          <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" onkeydown="navRadioGroup(event)" onfocus="setFocus(event)" required="">
                                            <label for="star5" title="5 stars">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" onkeydown="navRadioGroup(event)">
                                            <label for="star4" title="4 stars">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" onkeydown="navRadioGroup(event)">
                                            <label for="star3" title="3 stars">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" onkeydown="navRadioGroup(event)">
                                            <label for="star2" title="2 stars">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" onkeydown="navRadioGroup(event)" onfocus="setFocus(event)">
                                            <label for="star1" title="1 star">1 star</label>
                                          </div>
                                      </div>

                                      <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Comments</label>
                                        <input type="text" class="form-control" name="Comment">
                                      </div>


                                      <div class="mb-3 d-none">
                                        <input name="OrderItemId" value=@item.Id type="text" class="form-control">
                                      </div>

                                      <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                      </div>

                                    </form>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      }
                  </table>
                  <h4 class="mtext-109 cl2 p-b-30 d-flex m-t-30 justify-content-end">
                    @{
                      var totalOrder = @Model.SubTotal  + @Model.DeliveryFee;
                    }
										Order Totals: @totalOrder.ToString("C2", new System.Globalization.CultureInfo("en-US"))
									</h4>
                </div>
              </div>
            </div>
        </div>
			</div>

	</div>

</div>