@using Rookie.Application.Categories.ViewModels;
@using Rookie.Mvc.Models;
@model IEnumerable<Rookie.Application.Products.ViewModels.ProductVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var orderList = new List<OrderProduct>
    {
        new OrderProduct { Label = "Default", Value = "nameAsc", Checked = true },
        new OrderProduct { Label = "Price: Low to High", Value = "priceAsc", Checked = false },
        new OrderProduct { Label = "Price: High to Low", Value = "priceDesc", Checked = false }
    };

  var categoryList = ViewData["categoryList"] as List<CategoryVm>;

  var totalPage = ViewData["totalPage"] != null ? (int)ViewData["totalPage"] : 0;
  var curPage = ViewData["curPage"] != null ? (int)ViewData["curPage"] : 0; 
}

<div>    
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">
            <div
                class="item-slick1"
                style="background-image: url(images/slide-01.webp)"
            >
                <div class="container h-full">
                <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                    <div
                    class="layer-slick1 animated visible-false"
                    data-appear="fadeInDown"
                    data-delay="0"
                    >
                    <span class="ltext-101 cl2 respon2">
                        Macbook Collection 2024
                    </span>
                    </div>

                    <div
                    class="layer-slick1 animated visible-false"
                    data-appear="fadeInUp"
                    data-delay="800"
                    >
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        NEW VERSION
                    </h2>
                    </div>

                </div>
                </div>
            </div>

            <div
                class="item-slick1"
                style="background-image: url(images/slide-02.png)"
            >
                <div class="container h-full">
                <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                    <div
                    class="layer-slick1 animated visible-false"
                    data-appear="rollIn"
                    data-delay="0"
                    >
                    <span class="ltext-101 cl2 respon2"> Apple Ipad </span>
                    </div>

                    <div
                    class="layer-slick1 animated visible-false"
                    data-appear="lightSpeedIn"
                    data-delay="800"
                    >
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        Ipad pro m4
                    </h2>
                    </div>
                </div>
                </div>
            </div>

            <div
                class="item-slick1"
                style="background-image: url(images/slide-03.jpg)"
            >
                <div class="container h-full">
                <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                    <div
                    class="layer-slick1 animated visible-false"
                    data-appear="rotateInDownLeft"
                    data-delay="0"
                    >
                    <span class="ltext-101 cl2 respon2">
                        Apple watch collection
                    </span>
                    </div>

                    <div
                    class="layer-slick1 animated visible-false"
                    data-appear="rotateInUpRight"
                    data-delay="800"
                    >
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        New arrivals
                    </h2>
                    </div>

                </div>
                </div>
            </div>
            </div>
        </div>
    </section>  
    <!-- Product -->
    <section class="bg0 p-t-50 p-b-140">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">Product Overview</h3>
            </div>

            <!-- Filter -->
            <div class="row">
                <div class="col-3">
                    <!-- Search product -->
                    <div class="panel-search w-full p-b-15">
                        <div class="bor8 dis-flex p-l-15">
                            <form class="d-flex" onsubmit="fetchProduct(event)">
                                <button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                                <input
                                    id="search-product"
                                    class="mtext-107 cl2 size-114 plh2 p-r-15"
                                    type="text"
                                    name="search-product"
                                    placeholder="Search"
                                />
                            </form>
                        </div>
                    </div>
                    <!-- Filter order-->
                    <div class="panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm ">
                            <div class="p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">Sort By</div>

                                <ul>
                                    @foreach(var item in orderList)
                                    {
                                      <li class="p-b-6">
                                        <div class="form-check">
                                          <input onchange="fetchProduct()" class="form-check-input" type="radio" name="orderOptions" id="@item.Value" value="@item.Value" checked=@item.Checked>
                                          <label class="form-check-label filter-link stext-106 trans-04" for="@item">
                                            @item.Label
                                          </label>
                                        </div>
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Filter categories-->
                    <div class="panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm ">
                            <div class="p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">Categories</div>
                                <ul>
                                    @foreach(var item in categoryList)
                                    {
                                      <li class="p-b-6">
                                        <div class="form-check">
                                          <input onchange="fetchProduct()" class="form-check-input" type="checkbox" name="categoryOptions" value="@item.Name" id="@item.Name">
                                          <label class="form-check-label filter-link stext-106 trans-04" for="@item.Name">
                                            @item.Name
                                          </label>
                                        </div>
                                      </li>
                                    }
 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- List products -->
                <div class="col-9">
                    <div class="row isotope-grid" id="list-products">
                        @foreach(var item in Model)
                        {
                          <div class="col-sm-6 col-md-4 col-lg-3 p-b-35">
                              <!-- Block2 -->
                                  <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <img src="@item.MainImageUrl" alt="IMG-PRODUCT" />

                                        <a href=Customer/Home/Details/@item.Id
                                        class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                        Details
                                        </a>

                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l">
                                        <a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            @item.ProductName
                                        </a>

                                        <span class="stext-105 cl3"> @item.Price.ToString("C2", new System.Globalization.CultureInfo("en-US")) </span>
                                        </div>
                                    </div>
                                  </div>
                          </div>
                        }
                    </div>
                </div>

            <!-- Pagination -->

                <div class="col-12 d-flex align-items-center justify-content-center mt-4">
                    <ul id="pagination">
                        <button onclick="fetchProductWithPagination(this)" value=@(@curPage - 1) class="m-r-5 btn btn-primary @(totalPage == 0 || @curPage == 1 ? "disabled" : "")">
                            <li class="previous-button">
                                <span >Previous</span>
                            </li>
                        </button>
                        <button onclick="fetchProductWithPagination(this)" value=@(@curPage + 1) class="btn btn-primary @(totalPage == 0 ? "disabled" : "")">
                            <li class="next-button">
                                <span >Next</span>
                            </li>
                        </button>

                    </ul>
                </div>
            </div>
      </div>
    </section>

</div>

